<div class="row">
    <div class="col-sm-8">
        <div class="heading d-flex justify-content-between">
            <h2 class="main-heading">
                Charts
            </h2>
            <p class="mr-5 clickhere">
                Click Here for Empty Page
            </p>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h3>Total Users Joined</h3>

                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
                    [legend]="barChartLegend" [type]="'bar'">
                </canvas>


            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2 class="demo">DemoGraphy</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row bar">
                            <div class="col-sm-3">
                                <h2>Bihar</h2>

                            </div>
                            <div class="col-sm-9">
                                <div class="d-flex">
                                    <div class="progressbar"></div>
                                    <h2 class="ml-2">59%</h2>

                                </div>
                            </div>


                        </div>


                        <div class="row bar">
                            <div class="col-sm-3">
                                <h2>Delhi</h2>

                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex">

                                    <div class="progressbar2"></div>
                                    <h2 class="ml-2">31%</h2>
                                </div>

                            </div>


                        </div>


                        <div class="row bar">
                            <div class="col-sm-3">
                                <h2>Up</h2>

                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex ">
                                    <div class="progressbar3"></div>
                                    <h2 class="ml-2">10%</h2>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mt-5 mb-3">
            <div class="card-body">
                <div class="card bg-purple mb-4">
                    <div class="card-body">
                        <p class="display-4 font-weight-bold">354</p>
                        <P class="total">Total User Count</P>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 br">
                        <h1 class="font-weight-bold">20</h1>
                        <p class="userPara">New Users</p>
                    </div>
                    <div class="col-sm-6">
                        <h1 class="font-weight-bold">05</h1>
                        <p class="userPara">User left</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-body">
                <h2>Social Category</h2>
                <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
                    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>

    </div>
</div>