<div class="card card-m p-4 ">
    <div class="card-body">
        <div class="row mb-5">
            <div class="col-sm-3">
                <figure>

                    <img src="../../../../assets/img/Frame .png" alt="" class="mb-3">
                </figure>
            </div>
            <div class="col-sm-9">
                <h1>Lorem ipsum dolor </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Dictumst quis in dui fringilla id cras montes laoreet eget.
                    Tristique justo cursus tortor arcu. Aliquam vivamus tempus nam in phasellus tristique eleifend.
                    Morbi lobortis mattis et sit lectus placerat quisque. Urna viverra sagittis at mauris. At at risus
                    amet consectetur eu aliquam. Et nulla ut.
                </p>
            </div>
        </div>
        <hr>
        <div class="row flex-row-reverse mb-5 ">
            <div class="col-sm-3">
                <figure>
                    <img src="../../../../assets/img/Frame .png" alt="" class="mb-3" class="img-fluid">
                </figure>
            </div>
            <div class="col-sm-9">
                <h1>Lorem ipsum dolor </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Dictumst quis in dui fringilla id cras montes laoreet eget.
                    Tristique justo cursus tortor arcu. Aliquam vivamus tempus nam in phasellus tristique eleifend.
                    Morbi lobortis mattis et sit lectus placerat quisque. Urna viverra sagittis at mauris. At at risus
                    amet consectetur eu aliquam. Et nulla ut.
                </p>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-sm-3">
                <figure>
                    <img src="../../../../assets/img/Frame .png" alt="" class="img-fluid position-relative">
                    <figcaption class="fig-content">
                        <h2 class="mb-0">Lorem Ipsum dolor</h2>
                        <p>lorem ipsum dolor sit amet </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-3">
                <figure>
                    <img src="../../../../assets/img/Frame .png" alt="" class="img-fluid position-relative">
                    <figcaption class="fig-content">
                        <h2 class="mb-0">Lorem Ipsum dolor</h2>
                        <p>lorem ipsum dolor sit amet </p>
                    </figcaption>
                </figure>
            </div>


            <div class="col-sm-3">
                <figure>
                    <img src="../../../../assets/img/Frame .png" alt="" class="img-fluid position-relative">
                    <figcaption class="fig-content">
                        <h2 class="mb-0">Lorem Ipsum dolor</h2>
                        <p>lorem ipsum dolor sit amet </p>
                    </figcaption>
                </figure>
            </div>


            <div class="col-sm-3">
                <figure>
                    <img src="../../../../assets/img/Frame .png" alt="" class="img-fluid position-relative">
                    <figcaption class="fig-content">
                        <h2 class="mb-0">Lorem Ipsum dolor</h2>
                        <p>lorem ipsum dolor sit amet </p>
                    </figcaption>
                </figure>
            </div>

        </div>
    </div>
</div>