.navbar-m {
    padding: 37px;

    // .logo {
    //     padding-left: 141px;
    // }
}

.active {
    border-bottom: 2px solid #fff;
    // background-color: orange;
}

.navbar-nav li {
    padding: 0 34px;
    font-size: 20px;
    cursor: pointer;
}

li:last-child {
    padding-right: 96px;
}

@media screen and (max-width: 600px) {
    li:first-child {
        margin-top: 20px;
    }

    .navbar-nav li {
        margin-bottom: 20px;
        padding-left: 0px;
    }

    .logout {
        width: 30%;
        margin-left: auto;
    }

    .navbar-m {
        padding: 20px;
    }
}