.navbar-m {
    padding: 37px;

    // .logo {
    //     padding-left: 141px;
    // }
}


.navbar-nav li {
    padding-left: 34px;
    font-size: 20px;
    cursor: pointer;
}

li:last-child {
    padding-right: 96px;
}

@media screen and (max-width: 600px) {
    li:first-child {
        margin-top: 20px;
    }

    .navbar-nav li {
        margin-bottom: 20px;
        padding-left: 0px;
    }
}