.navbar-m {
    padding: 37px;

    // .logo {
    //     padding-left: 141px;
    // }
}


.navbar-nav li {
    padding-left: 34px;
    font-size: 20px;
    cursor: pointer;
}

li:last-child {
    padding-right: 96px;
}