<!-- <div class="card card-loan">
    <img src="../../../../assets/img/loan.png" alt="">
</div> -->

<div class="content mb-5 ">

    <div class="row text-center position-relative ">
        <div class="col-sm-4 pr-lg-0 mb-4">
            <div class="img br-tb img-1">
                <img src="../../../../assets/img/coin.png" alt="">

                <h2>SME Loans</h2>

            </div>


        </div>

        <div class="col-sm-4 pl-lg-0 pr-lg-0 mb-4">
            <div class="img">

                <img src="../../../../assets/img/receipt-minus.png" alt="" class="mb-2">
                <h2>Last Purchase <br>Order</h2>
                <button class="btn btn-light px-5 py-2">
                    Apply
                </button>
            </div>

        </div>
        <div class="col-sm-4 pl-lg-0 mb-4 invoice">
            <div class="img last br-lt img-2">

                <img src="../../../../assets/img/archive-book.png" alt="">
                <h2>Invoice</h2>
            </div>

        </div>
    </div>

</div>



<img src="../../../../assets/img/Vector (1).png" alt="" class=" vector">



<!-- <img src="../../../../assets/img/Vector (2).png" alt="" class="vector-1"> -->