.btn-bg {
    background-color: #AAA3FF;

}

.eye {
    position: absolute;
    right: 24px;
    top: 35px;
}

label::after {
    content: "*";
    color: red;
}

p::before {
    content: "*";
    color: red;
}

@media screen and (max-width: 600px) {
    .submit-btn {
        float: right;
    }
}