<div class="row mb- 5">
    <div class="col-12">
        <h1>Create New User</h1>
        <div class="card">
            <div class="card-body">
                <div class="head d-flex justify-content-between">

                    <h2 class="m-0">Personal Details</h2>
                    <p class="h6 text-muted font-weight-light">
                        *Marked fields are necessary
                    </p>
                </div>
                <hr class="bg-secondary">
                <div class="row">
                    <div class="col-sm-8">
                        <form>
                            <div class="row mb-4">
                                <div class="col">
                                    <label for="First name">First name*</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="Last name">Last name*</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col">
                                    <label for="gengder">Gengder*</label>
                                    <select name="" class="form-control" id="">
                                        <option value="">Select Gender</option>
                                        <option value="male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="other">Others</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="dob">Date-of-Birth*</label>
                                    <input type="date" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col">
                                    <label for="email">Email*</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="Last name">Phone Number*</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>



                        </form>


                    </div>

                </div>

                <h2>Create Password</h2>
                <hr class="bg-secondary">
                <form>
                    <div class="row mb-4">
                        <div class="col-sm-8">
                            <div class="row mb-4">
                                <div class="col">
                                    <label for="password">Password*</label>
                                    <input type="password" class="form-control position-relative">
                                    <mat-icon class="eye">remove_red_eye</mat-icon>

                                </div>
                                <div class="col">
                                    <label for="re-password">Re-Enter Password*</label>
                                    <input type="password" class="form-control position-relative">
                                    <mat-icon class="eye">remove_red_eye</mat-icon>

                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-bg  px-5 py-2 submit-btn">Create</button>
                </form>


            </div>
        </div>
    </div>
</div>